var Header = React.createClass({
  render: function() {
    return (
      <h1>{this.props.title}</h1>
    );
  }
});

var Dashboard = React.createClass({
  render: function() {
    return (
      <div>
        <Header title="Poop Monitor" />
        {/* other dashboard components go here */}
      </div>
    );
  }
});

React.render(
  <Dashboard />,
  document.getElementById('app')
);